<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h5 class="sidebar-heading">Menú</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes">
                    Clientes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/proveedores">
                    Proveedores
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/servicios">
                    Servicios de Proveedores
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/paqueteturistico">
                    Paquetes Turisticos
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/reserva">
                    Reservar
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/pagos">
                    Pagos
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/usuarios">
                    Usuarios
                </a>
            </li>
            
        </ul>
    </div>
</nav>